@import url('http://fonts.googleapis.com/css?family=Inconsolata');
@import url('http://fonts.googleapis.com/css?family=Lato:300');

body {
    background-color: #101010
}

.reveal .title {
    text-align: left;
    border-bottom: 2px solid;
    padding-bottom: 20px;
}


.reveal .author {
    text-align: left;
}


.reveal .date {
    text-align: left;
    font-size: 0.75em;
}

.reveal p {
    text-align: left;
}

.reveal {
    font-size: 30px;
    font-family: 'Lato', 'sans-serif';
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Lato', 'sans-serif';
    font-weight:normal;
    text-transform: none;
    text-shadow: none; }

.reveal h1 { font-size: 1.65em; }
.reveal h2 { font-size: 1.3em; }
.reveal h3 { font-size: 1em; }
.reveal h4 { font-size: 1em; }
